{% extends 'base.html' %}
{% block content %}

<h1>User Profile</h1>
<p>{{user.username}}</p>
<p>{{user.profile.city}}</p>
<p>{{user.profile.contributions}}</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
        </tr>
    </thead>
    <tbody>
        {% for pet in pets %}
        <tr>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td>
            <td>
                <form action="profiles/<int:profile_id>" method="POST">
                    <button type="submit" class="btn">Remove</button>
                </form>
            </td>
            <td>
                <form action="profiles/<int:profile_id>" method="POST">
                    <button type="submit" class="btn">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Add links to edit user profile and add new pet -->

<form action="{% url 'add_pet' profile.id%}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ pet_form.as_p }}
    <input type="submit" class="btn" value="Add Pet">
</form>



{% endblock %}