{% extends 'base.html' %}
{% block content %}

<h1>User Profile</h1>
<p>{{user.username}}</p>
<p>{{user.profile.city}}</p>
<p>{{user.profile.contributions}}</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
        </tr>
    </thead>
    <tbody>
        {% for pet in pets %}
        <tr>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td>
            <td>
                {% for photo in pet.photos.all %}
                <a href="{{photo.url}}" target="_blank">
                    <img class="responsive-img thumbnail" src="{{photo.url}}" alt="{{pet.name}}" width="150">
                </a>
                <!-- add a delete button for evry photo -->
                <form action="{% url 'delete_photo' pet.id photo.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove Photo</button>
                </form>
                {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
            </td>
            <td>
                <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST"
                    class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <button type="submit" class="btn">Upload Photo</button>
                </form>
            </td>
            <td>
                <form action="{% url 'pet_delete' pet.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </td>
            <td>
                <form action="{% url 'pet_edit' pet.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Add links to edit user profile and add new pet -->

<form action="{% url 'pet_create' profile.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ pet_form.as_p }}
    <input type="submit" class="btn" value="Add Pet">
</form>



{% endblock %}