{% extends 'base.html' %}

{% block content %}
<div class="m-4">
    {% if object %}
        <h1 class="font-header font-bold text-h6 dp:text-h4">Edit <span class="text-accent">{{ object.name }}</span></h1>
    {% else %}
        <h1 class="font-header font-bold text-h6 dp:text-h4">Add Pet</h1>
    {% endif %}
    <form action="" method="post" class="flex flex-col font-body text-dark mt-2">
        {% csrf_token %}
        <input type="text" name="{{ form.name.html_name }}" class="text-body-lg border-dark border-2 bg-light text-dark placeholder-dark focus:ring-secondary rounded-lg mb-2" placeholder="Name" value="{{ form.name.value|default:'' }}">
        <input type="text" name="{{ form.breed.html_name }}" class="text-body-lg border-dark border-2 bg-light text-dark placeholder-dark focus:ring-secondary rounded-lg" placeholder="Breed" value="{{ form.breed.value|default:'' }}">
        <div class="">
            <button type="submit" class="bg-accent mt-4 py-2 px-4 rounded-lg font-bold text-light shadow-md hover:opacity-90">SUBMIT</button>
        </div>
    </form>
</div>
{% endblock %}