{% extends 'base.html' %}
{% block mobile_header_class %}
  mb:hidden dp:block
{% endblock %}
{% block content %}
{% load static %}
<div class="w-full h-full bg-light flex flex-col items-center justify-center mb:h-screen dp:flex-row dp:items-center dp:space-x-8 mb:pt-[66px] dp:pt-[130px]">
    <img class="w-72 h-72 mb:w-72 mb:h-72 dp:w-[400px] dp:h-[400px]" src="{% static 'src/images/SecondaryLogoPrimary.svg' %}" alt="Logo">
    <div class="mb:mb-8 dp:mr-16 dp:ml-2">
      <div class="text-center dp:text-left text-primary mb:text-h3 dp:text-h1 font-logo">Woof & Wander</div>
      <div class="hidden dp:block font-header text-dark text-h6">Your pet's passport to adventure</div>
    </div>
    <div class="dp:bg-primary dp:w-72 dp:h-72 mb:bg-none rounded-lg flex items-center justify-center font-body">
      <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="mb-4">
          <input type="text" name="{{ form.username.name }}" id="{{ form.username.auto_id }}" class="rounded-lg font-body text-body-lg dp:placeholder-dark dp:text-dark mb:placeholder-light mb:text-light  placeholder-opacity-80 border-none shadow-inner dp:bg-light mb:bg-primary dp:mx-4 focus:ring-secondary" placeholder="Username">
        </div>
        <div class="mb-4"> 
          <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.auto_id }}" class="rounded-lg font-body text-body-lg dp:placeholder-dark dp:text-dark mb:placeholder-light mb:text-light  placeholder-opacity-80 border-none shadow-inner dp:bg-light mb:bg-primary dp:mx-4 focus:ring-secondary" placeholder="Password">
        </div>
        <div class="mb-8">
          <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.auto_id }}" class="rounded-lg font-body text-body-lg dp:placeholder-dark dp:text-dark mb:placeholder-light mb:text-light placeholder-opacity-80 border-none shadow-inner dp:bg-light mb:bg-primary dp:mx-4 focus:ring-secondary" placeholder="Confirm Password">
        </div>
        <div class="flex justify-center">
          <input type="submit" class="bg-accent rounded-md px-8 py-2 text-light font-bold drop-shadow-sm hover:bg-opacity-90" value="SIGN UP">
        </div>
      </form>
    </div>
</div>

{% endblock %}