{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <title>Woof and Wander</title>
</head>

<body class="bg-light">
    <header class="sticky rounded-b-lg w-full h-24 bg-primary text-light{% block mobile_header_class %}{% endblock %}">
        <nav class="flex justify-between items-center h-24 px-4">
            <div class="flex items-center">
                <img src="{% static 'src/images/SmallLogoLight.svg' %}" alt="Logo" class="object-contain mb:max-h-[64px] dp:max-h-[80px]">
                <span class="hidden dp:block text-h3 font-logo">Woof & Wander</span>
            </div>
            <div class="dp:hidden">
                <ul class="flex space-x-24 font-body text-body-lg font-bold drop-shadow">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">PLACES</a></li>
                    <li><a href="{% url 'profile_details' request.user.profile.id %}">PROFILE</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" >LOG IN</a></li>
                    <li><a href="{% url 'signup' %}" >SIGN UP</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="hidden dp:flex flex-col justify-center relative">
                {% if user.is_authenticated %}
                <ul id="placesDropdown" class="flex items-center h-auto space-x-4 font-body text-body-lg font-bold drop-shadow relative">
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li class="relative group">
                        <a class="cursor-pointer" id="placesDropdownTrigger">PLACES</a>
                        <ul id="placesDropdownMenu" class="absolute hidden px-4 py-2 shadow-lg rounded text-body bg-light text-dark divide-y divide-dark whitespace-nowrap mt-6 border border-dark">
                            <li><a href="{% url 'index' %}">VIEW ALL</a></li>
                            <li><a href="{% url 'add_place' %}">ADD PLACE</a></li>
                        </ul>
                    </li>                    
                    <li class="relative group">
                        <img src="{% static 'src/images/avatar.svg' %}" alt="Profile" class="w-16 h-16 rounded-full cursor-pointer" id="profileDropdownTrigger">
                        <ul id="profileDropdownMenu" class="absolute hidden px-4 py-2 shadow-lg rounded text-body bg-light text-dark divide-y divide-dark whitespace-nowrap mt-2 right-0 border border-dark">
                            <li><a href="{% url 'profile_details' request.user.profile.id %}">VIEW PROFILE</a></li>
                            <li><a href="{% url 'logout' %}">LOG OUT</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="flex space-x-4 font-body text-body-lg font-bold drop-shadow">
                    <li><a href="{% url 'login' %}" class="font-body text-body-lg font-bold">LOG IN</a></li>
                    <li><a href="{% url 'signup' %}" class="font-body text-body-lg font-bold">SIGN UP</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>  
    <div class="page-container flex flex-col min-h-screen">
        <div class="main-content flex-grow">
            {% block content %}
            {% endblock %}
    </div>
    <footer class="mb:hidden dp:block font-body-sm">
        <p>&copy; 2023 Woof & Wander. All rights reserved.</p>
    </footer>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_PLACES_API_KEY }}&libraries=places"></script>
    <script>
        const placesDropdownTrigger = document.getElementById('placesDropdownTrigger');
        const placesDropdownMenu = document.getElementById('placesDropdownMenu');
        
        placesDropdownTrigger.addEventListener('click', () => {
            placesDropdownMenu.classList.toggle('hidden');
        });
    
        const profileDropdownTrigger = document.getElementById('profileDropdownTrigger');
        const profileDropdownMenu = document.getElementById('profileDropdownMenu');
        
        profileDropdownTrigger.addEventListener('click', () => {
            profileDropdownMenu.classList.toggle('hidden');
        });
        document.addEventListener('click', (event) => {
            if (!placesDropdownTrigger.contains(event.target)) {
                placesDropdownMenu.classList.add('hidden');
            }
            if (!profileDropdownTrigger.contains(event.target)) {
                profileDropdownMenu.classList.add('hidden');
            }
        });
    </script>
</body>

</html>