{% extends 'base.html' %}
{% block content %}
<div class="m-4 space-y-4 text-dark font-body">
  <h1 class="text-h3 font-header font-bold">Welcome to Woof & Wander:
    <br>
    <span class="text-h4">Your Pet's Passport to Adventure!</span></h1>

  <p class="">Embark on unforgettable journeys with your four-legged companions as you discover a world of tail-wagging excitement together. Whether you're a local or just passing through, Woof & Wander is your trusty guide to exploring the city in the most pawsome way possible.</p>
  
  <h3 class="text-h5 font-header">Discover a world of tail-wagging excitement</h3>
  <ul class="y">
    <li>Unleash the Fun: From lush parks to scenic trails, we've sniffed out the best spots where your furry sidekick can run, play, and make memories.</li>
    <li>Treat Time: Indulge in culinary delights at our handpicked selection of pet-friendly restaurants and patios. Because every meal is better when shared with your loyal companion.</li>
    <li>Adventure Awaits: Get ready to unleash your pet's inner explorer with our expert tips and recommendations for activities that'll have their tails wagging with joy.</li>
  </ul>
  
  <h3 class="text-h5 font-header">How to Use</h3>
  <p class="mb-4">Navigating the app is as easy as teaching an old dog a new trick! Simply search for your city, read user reviews, and mark your favorites to create a custom itinerary that suits your and your pup's preferences.</p>
  
  <p class="">So, leash up, and let's embark on a journey filled with wagging tails, wet noses, and endless memories. Woof & Wander is more than an app—it's a passport to adventure for you and your furry best friend.</p>
  
  <h3 class="text-h6 font-header">Happy adventuring,</h3>
  <p class="text-body-lg">The Woof & Wander Team 🐶🗺️</p>
</div>
{% endblock %}