{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Woof & Wander: Your Pet's Passport to Adventure!</h1>
<br>
<br>
<p>Calling all dog lovers and furry friends!</p>
<br>
<br>
<p>Embark on unforgettable journeys with your four-legged companions as you discover a world of tail-wagging excitement
  together. Whether you're a local or just passing through, Woof & Wander is your trusty guide to exploring the city in
  the most pawsome way possible.</p>
<br>
<br>
<ul>
  <li>Unleash the Fun: From lush parks to scenic trails, we've sniffed out the best spots where your furry sidekick can
    run, play, and make memories.</li>
  <li>Treat Time: Indulge in culinary delights at our handpicked selection of pet-friendly restaurants and patios.
    Because every meal is better when shared with your loyal companion.</li>
  <li>Adventure Awaits: Get ready to unleash your pet's inner explorer with our expert tips and recommendations for
    activities that'll have their tails wagging with joy.</li>
</ul>
<br>
<br>
<p>How to Use: Navigating the app is as easy as teaching an old dog a new trick! Simply search for your city, read user
  reviews, and mark your favorites to create a custom itinerary that suits your and your pup's preferences.</p>
<br>
<br>
<p>So, leash up, and let's embark on a journey filled with wagging tails, wet noses, and endless memories. Woof & Wander
  is more than an app—it's a passport to adventure for you and your furry best friend.</p>
<br>
<br>
<p>Start exploring today and unleash the joy of every moment shared with your beloved pet.</p>
<br>
<br>
<p>Happy adventuring,</p>
<p>The Woof & Wander Team 🐶🗺️</p>
{% endblock %}